@import url('../css/normalize.css');

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body{
  max-width: 70%;
  margin: 0 auto;
}

/* input window start*/

.text-window{
  margin: 0 auto;
  margin-top: 5%;
}
.text-window__form{
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 4%;
}
.text-window__input{
  margin: 0 auto;
  width: 100%;
  height: 40%;
}

.text-window__language{
  margin-left: 10%;
}

/* input window end*/